<header class="p-4">
    <a 
        href="/"
        class="dark:text-white text-neutral-800 text-2xl font-bold"
    >
        Flash Memo
    </a>
</header>
<%= react_component("SignUp", prerender: true) %>