<header class="flex gap-4 items-center justify-between p-4">
    <a 
        href="/"
        class="dark:text-white text-neutral-800 text-2xl font-bold"
    >
        Flash Memo
    </a>
    
    <% if user_signed_in?  %>
        <a
            href="/decks"
            class="px-4 py-2 text-white font-semibold rounded bg-light-blue"
        >
            Go to decks
        </a>
    <% end %>  
   
    <% if !user_signed_in?  %>
        <a
            href="/sign-in"
            class="px-4 py-2 text-white font-semibold rounded bg-light-blue"
        >
            Sign in
        </a>
    <% end %>  

</header>

<section class="flex flex-col">
    <main class="flex flex-col gap-6 items-center text-center py-36 px-4 dark:bg-neutral-800 bg-white">
        <div class="max-w-[600px]">
            <h1 class="text-4xl font-bold text-dark-blue dark:text-aqua-blue mb-4">
                <span class="text-aqua-blue dark:text-primary-yellow">
                    Memorize
                </span>
                anything you need
            </h1>
            <p class="text-gray-900 dark:text-gray-300">
                Flash Memo can help you improve your vocabulary, ace exams, enhance
                your study skills and achieve even more.
            </p>
        </div>

        <a
            href="/sign-up"
            class="px-4 py-3 text-white font-semibold rounded bg-primary-yellow"
        >
            Sign up now
        </a>
    </main>
    <section class="flex flex-col items-center text-center py-36 dark:bg-neutral-900 bg-light-blue px-4">
        <h2 class="text-[1.6rem] font-bold text-white dark:text-gray-300 mb-4">
            A <span class="text-primary-yellow">Flash Cards</span> and
            <span class="text-primary-yellow">Spaced Repetetition</span> based
            app
        </h2>
        <p class="text-left max-w-[500px] text-white dark:text-gray-300">
            Spaced repetition helps you remember information more effectively and
            for longer periods of time by spacing out review sessions at optimal
            intervals based on your performance, saving time and improving
            retention compared to cramming or passive studying.
        </p>
    </section>
</section>